
<h1>Analytics</h1>

<p>Number of clicks: </p>
<span><%= @analytics.count %></span>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>IP Address</th>
      <th>Country</th>
    </tr>
  </thead>

  <tbody>
    <% @analytics.each do |a| %>
      <tr>
        <td><%= a.id %></td>
        <td><%= a.ip_address %></td>
        <td><%= a.country_select :country %></td>
      </tr>
    <% end %>
  </tbody>
</table>
